<!DOCTYPE html>
<html lang="en" onselectstart="return false">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="icon" href="./View/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./View/css/reset.css">
    <link rel="stylesheet" href="./View/css/login.css">
</head>
<body> 
    <span id="visitor" >游客模式</span>
    <div id="root">
        <form action="./index.php?c=user&a=login" classname="<?php echo $_SESSION['error'] ?>"  method="POST">
            <p id="b"></p>
            <div id="a"></div>
            <h3 id="login">LOGIN
                <span>点击切换到注册</span>
            </h3>
            <h3 id="register">REGISTER
                    <span>点击切换到登录</span>
                </h3>
            </h3>
            <div id='title'>
                <p id='title_text'> 用户名或密码错误!!!</p>
            </div>
            <input id="name" type="text" name="username" placeholder="请输入用户名" maxlength="8" minlength="1">
            <input id="pass" type="password" name="password" placeholder="请输入密码" maxlength="10" minlength="1">
            <p id="titel_2">按住下拉,即可登录</p>
            <p id="titel_3"></p>
        </form>
    </div>
    <script src="View/js/jquery-2.1.4/jquery.min.js"></script>
    <script src="View/js/login.js"></script>
</body>
</html>